<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yoplle">

	<!-- 장바구니에 상품 유무 체크 -->
	<select id="cartCheck" parameterType="java.util.HashMap" resultType="yoplle.vo.CartVO"> 
		SELECT CART_QUAN, CART_NO FROM CART C, USERINFO U
		WHERE USER_ID=#{user_id} AND ITEM_NO=#{item_no} AND C.USER_NO=U.USER_NO
	</select>
	
	<!-- 장바구니 담기  -->
	<insert id="insertCart" parameterType="java.util.HashMap">
		<selectKey keyProperty="cart_no" resultType="int" order="BEFORE">
	 		SELECT CART_SEQ.NEXTVAL FROM DUAL
	 	</selectKey>
		INSERT ALL INTO CART VALUES(#{cart_no}, user_no, #{item_no}, #{cart_quan})
		SELECT USER_NO FROM USERINFO WHERE USER_ID=#{user_id}
	</insert>
	
	<!-- 장바구니 상품 개수 업데이트 -->
	<update id="updateCartQuan" parameterType="java.util.HashMap"> 
		UPDATE CART SET CART_QUAN=#{cart_quan}
		WHERE CART_NO=#{cart_no}
	</update>
		
	 <!-- 장바구니 출력 -->
	<select id="selectCart" parameterType="String" resultType="yoplle.vo.CartVO">
        SELECT CART_NO, C.USER_NO, C.ITEM_NO,ITEM_IMG, ITEM_PRICE, ITEM_NAME, CART_QUAN FROM CART C, ITEM I, USERINFO U
		WHERE USER_ID=#{id} AND I.ITEM_NO=C.ITEM_NO AND U.USER_NO=C.USER_NO
	</select>
	
	<!-- 장바구니 삭제 -->
	<delete id="selectDeleteCart" parameterType="int"> 
		DELETE FROM CART WHERE CART_NO=#{no}
	</delete>
	
	
	<delete id="deleteCartSet" parameterType="java.util.HashMap">
		DELETE FROM CART WHERE CART_NO IN (SELECT CART_NO FROM CART WHERE USER_NO=#{userNo} AND ITEM_NO IN 
	  <foreach collection="itemNo" item="item" index="idx" separator=","  open="(" close="))">
		#{item}
	  </foreach>
	</delete>
	
<!-- 	<select id="countCart" parameterType="int" resultType="int"> 
		SELECT *(COUNT) FROM CART WHERE USER_NO=#{no}
	</select> -->
	
<!-- 	<update id="updateCart" parameterType="java.util.HashMap"> 동일 상품 있을 경우에 수량 업데이트
		UPDATE CART SET CART_QUAN=#{cart_quan}
		WHERE CART_NO=(SELECT CART_NO FROM CART C,(SELECT USER_NO FROM USERINFO WHERE USER_ID=#{user_id})U
        WHERE  U.USER_NO=C.USER_NO AND ITEM_NO=#{item_no})
	</update> -->
	

	
</mapper>
