@charset "UTF-8";

.container-jaeil-datail-control{
	border: 1px solid #d8d8d8;
	padding-bottom: 10px;
	border-radius: 5px;
	padding-top: 10px;
	
}
.category-number{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.category-jaeil{
	display: flex;
	align-items: center;
}
.selectpicker{
	margin-right:10px;
	height: 27px;
}

.jaeil-detail-re-btn{
	background: #6bbbff;
	border: none;
}
.selectpicker{
	width: 120px;
	
}
.center-tr td, .center-tr th {
	vertical-align: middle;
}
.table-title-jaeil{
	margin: 10px 10px;
}
.center-tr{
	border-bottom: 1px solid #d8d8d8;
}

.btn-jaeil-update-set{
	display: flex;
}
.table-btn-jaeil{
	display: flex;
	justify-content: space-between;
	align-content: center;
	padding: 10px;
}
.table-btn-jaeil input{
	margin-right: 10px;
	background: #6bbbff;
	border: none;
	color: white;
	padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.jaeil-paging-control{
	display: flex;
	justify-content: center;
}