@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');

.card-inform{
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid #e3e3e3;
  color: rgb(86, 128, 175);
  padding-bottom:10px;
}
.hit{
  margin-left:250px;
}
.card-inform-data{
  margin-left:10px;
    color: #525252;
}
#recipe-card-container {
  background: #fff;
  box-shadow: 0px 0px 6px 2px rgb(0 0 0 / 8%);
  font-family: 'Oxygen', sans-serif;
  width: 1000px;
  margin: 5% auto;
  padding-bottom:10px;
}
#card-part {
  width: 800px;
  margin: 5% auto;
}


#card-title {
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
  font-size: 28px;
 /* background: #6bbbff;*/
 padding-top:50px;
  padding-bottom:10px;

  color: rgb(0, 0, 0);
  border-radius: 2px 2px 0 0;
}

#details {
  background: #fff;
  border-left: solid 1px #ededed;
  border-right: solid 1px #ededed;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  padding: 15px 20px;
}

.detail-value {
  color: #455560;
}
.item-name{
  color: #252525;
  font-size:15px;
  padding-top:10px;
}
.item-price{
  color: #252525;
  font-weight: 700;
  font-size:13px;
}
#card-items {
/* 	border-top: 1px solid #e3e3e3; */

  font-family: 'Oxygen', sans-serif;
  /*padding: 20px */
}

.card-item-title {
  font-size: 24px;
  font-weight: 700;
}
.checkmark{
	padding-top:20px;
	padding-left: 50px;
}
ul.checkmark li:before {
    color: #455560;
    content:"\2713\0020";
    font-weight: 600;
    margin-left: -38px;
    margin-right: 10px;
}
ul.checkmark li .mainingr:before {
    color: #455560;
    content:"\2713\0020";
    font-weight: 600;
    margin-left: -38px;
    margin-right: 10px;
}

.checkmark li {
  list-style-type: none;
  font-size: 17px
}

li {
  margin-bottom: 3px;
}

#method {
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
  padding-top:50px;
  padding-bottom:50px;

}

#method li {
  list-style-position: inside;
  margin-bottom: 10px;
  margin-left: -38px;
  list-style-type: none;
}

.mainimg {
  height: 550px;
  position: relative;
  padding-top: 80px;
  padding-bottom: 20px;
  display:block;
  margin:auto;
}

.recipe-main-image {
  background-size: contain;
  background-position: center;
	text-align:center;

}

#recipe {
  font-family: "Lato", sans-serif;
  padding-left: 70px;
  counter-reset: section;
  margin-top: 20px;
  
}

#recipe-num {
/*   counter-increment: item; */
    padding-bottom: 40px;
  position: relative;
}

#recipe-num::before {
/*   font-weight: bold;
  content: counter(item) ".";
  margin-right: 8px; */
    content: counters(section, ".");
  counter-increment: section;
  position: absolute;
  font-size: 20px;
  font-weight: 900;
  left: -75px;
  top: 0;
  height: 45px;
  width: 45px;
  background: rgb(86, 128, 175);
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 48.5px;
  z-index: 50;
  
}
#recipe-num:after {
  content: "";
  border-left: 1px solid rgb(86, 128, 175);
  height: 100%;
  top:0;
  position: absolute;
  left: -52.5px;
  z-index: 0;
}
#recipe-num:last-child:after {
  border: none;
}
#recipe-step{
    display:table;
    width: 100%;
    height:100%;
    font-size: 17px

}
#recipe-img{
    display:table-cell;
    vertical-align:middle;
    width:40%;
    padding-left:100px;
}
#repimg{
   max-width:100%;
    max-height:100%;
}
.recipe-list {
 /*  border-top: 1px solid #e3e3e3; */
  list-style-type: none;
  padding: 0;
  text-align:center;
  margin-bottom: 50px;
  
}
.recipe-list.meta > .recipe-item {
  display: inline-block;
  padding-right: 4rem;
  padding-left: 4rem;

}

.recipe-item {
  padding: 0 1rem;
}
/* .recipe-item:first-child {
  padding-left: 0;
} */
.recipe-item > .recipe-value {
  font-size: 1.333rem;
  line-height: 2.5rem;
  font-weight: bold;
}
.recipe-item > .recipe-text {
  font-size: 1.6rem;
    line-height: 4rem;
    font-weight:600;
}
.recipe-item + .recipe-item {
  border-left: 1px solid #ccc;
}
.hashtag{
 padding: 2px 10px 10px 10px;
    font-size: 20px;
     color:rgb(86, 128, 175);
     
}
.ingredient{
	border-top: 1px solid #e3e3e3;
padding-top:50px;
padding-bottom:50px;
 /*  border:2px solid rgb(86, 128, 175); 
  padding:0.5em;
  line-height: 1em;
  border-radius:0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em; */

  
}
.card-item-title-second{
	font: italic 20px "Playfair Display", serif;
	color:rgb(86, 128, 175);
	padding-left:5px;
}
.contents{
	position: relative;
    padding: 2px 10px 10px 10px;
    color: #8d8d8d;
    font-size: 18px;
    line-height: 170%;
    
}
.far{
	color:rgb(86, 128, 175);
}
.row.shop{
    padding-bottom: 50px;

}
#carouselABC{
	margin-top:20px;
}


