<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- DB설정(Connection) -->
	<typeAliases>
		
		<typeAlias type="yoplle.vo.ItemVO" alias="item"/>
		<typeAlias type="yoplle.vo.FaqListVO" alias="faqlist"/>
	</typeAliases> 
    <!-- DB연동 -->
	<mappers>
		
		
		<mapper resource="yoplle/mapper/cart-mapper.xml"/>
		<mapper resource="yoplle/mapper/shopbest-mapper.xml"/>
		<mapper resource="yoplle/mapper/item-mapper.xml"/>
		<mapper resource="yoplle/mapper/notice-mapper.xml"/>
		<mapper resource="yoplle/mapper/order-mapper.xml"/>
		<mapper resource="yoplle/mapper/recipe-mapper.xml"/>
		<mapper resource="yoplle/mapper/review-mapper.xml"/>
		<mapper resource="yoplle/mapper/user-mapper.xml"/>
	</mappers> 
	
	
</configuration>